.header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #0099ff;
    height: 80px;
    width: 100%;
    border-bottom: solid 3px black;
    border-radius: 5px;
    position: relative; /* Add position relative for absolute positioning of children */
    padding: 0 1rem;
}

.title {
    position: absolute; /* Position absolutely to center regardless of other elements */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center; /* Center the text itself */
    width: auto;
    white-space: nowrap; /* Prevent wrapping */
    z-index: 1; /* Ensure it's above other elements */
}

.header-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    margin: 1rem;
}


.login {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    margin:1rem;
    border: none;
    border-radius: 5px;
    color: #0099ff;
    font-size: 90%;
    cursor: pointer;
    transition: all 0.2s;
}

.login:hover {
    scale: 0.97;
    background-color: #f0f0f0;
}  

.logout {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    margin:1rem;
    border: none;
    border-radius: 5px;
    color: #0099ff;
    font-size: 90%;
    cursor: pointer;
    transition: all 0.2s;
}

.logout:hover {
    scale: 0.97;
    background-color: #f0f0f0;
}